

.page {
    background-image: url(../img/road.png);
    background-position: center;
    background-size: contain;
}

#car {
    width: 120px;
    position: relative;
    left: 180px;
    top: 150px;
}
 #cat {
     width: 85px;
     position: relative;
     opacity: 0;
     left: 775px;
     top: 470px;
 }

 @keyframes car-mov {

    0% {
        left: 180px;
        top: 150px;
        transform: rotate(0deg);
        opacity: 1;
    }

    0.5% {
        left: 180px;
        top: 150px;
        transform: rotate(0deg);
        opacity: 1;
    }

    8% {
        left: 615px;
        top: 150px;
        transform: rotate(0deg);
        opacity: 1;
    }

    8.5% {
        left: 635px;
        top: 150px;
        transform: rotate(15deg);
        opacity: 1;
    }

    9% {
        left: 635px;
        top: 150px;
        transform: rotate(30deg);
        opacity: 1;
    }

    9.5% {
        left: 655px;
        top: 150px;
        transform: rotate(45deg);
        opacity: 1;
    }

    10% {
        left: 655px;
        top: 150px;
        transform: rotate(60deg);
        opacity: 1;
    }

    10.5% {
        left: 655px;
        top: 150px;
        transform: rotate(75deg);
        opacity: 1;
    }

    11% {
        left: 655px;
        top: 150px;
        transform: rotate(90deg);
        opacity: 1;
    }

    12% {
        left: 655px;
        top: 180px;
        transform: rotate(90deg);
        opacity: 1;  
    }

    25% {
        left: 655px;
        top: 350px;
        transform: rotate(90deg);
        opacity: 1;  
    }

    35% {
        left: 655px;
        top: 350px;
        transform: rotate(90deg);
        opacity: 1;  
    }

    45% {
        left: 655px;
        top: 690px;
        transform: rotate(90deg);
        opacity: 1;   
    }

    46% {
        left: 655px;
        top: 690px;
        transform: rotate(105deg);
        opacity: 1;
    }

    46.5% {
        left: 655px;
        top: 690px;
        transform: rotate(120deg);
        opacity: 1;
    }

    47% {
        left: 655px;
        top: 690px;
        transform: rotate(135deg);
        opacity: 1;
    }

    47.5% {
        left: 635px;
        top: 690px;
        transform: rotate(150deg);
        opacity: 1;
    }

    48% {
        left: 635px;
        top: 690px;
        transform: rotate(165deg);
        opacity: 1;
    }

    50% {
        left: 635px;
        top: 690px;
        transform: rotate(180deg);
        opacity: 1;
    }

    58% {
        left: 120px;
        top: 690px;
        transform: rotate(180deg);
        opacity: 1;
    }

    58.5% {
        left: 120px;
        top: 690px;
        transform: rotate(195deg);
        opacity: 1;
    }

    59% {
        left: 120px;
        top: 690px;
        transform: rotate(210deg);
        opacity: 1;
    }

    59.5% {
        left: 120px;
        top: 690px;
        transform: rotate(225deg);
        opacity: 1;
    }

    60% {
        left: 120px;
        top: 690px;
        transform: rotate(240deg);
        opacity: 1;
    }

    60.5% {
        left: 120px;
        top: 690px;
        transform: rotate(255deg);
        opacity: 1;
    }

    61% {
        left: 120px;
        top: 690px;
        transform: rotate(270deg);
        opacity: 1;
    }

    62% {
        left: 120px;
        top: 690px;
        transform: rotate(270deg);
        opacity: 1;  
    }

    75% {
        left: 120px;
        top: 570px;
        transform: rotate(270deg);
        opacity: 1;  
    }

    87% {
        left: 120px;
        top: 570px;
        transform: rotate(270deg);
        opacity: 1;  
    }

    95% {
        left: 120px;
        top: 150px;
        transform: rotate(270deg);
        opacity: 1;   
    }

    96% {
        left: 120px;
        top: 150px;
        transform: rotate(285deg);
        opacity: 1;
    }

    96.5% {
        left: 130px;
        top: 150px;
        transform: rotate(300deg);
        opacity: 1;
    }

    97% {
        left: 140px;
        top: 150px;
        transform: rotate(315deg);
        opacity: 1;
    }

    97.5% {
        left: 150px;
        top: 150px;
        transform: rotate(330deg);
        opacity: 1;
    }

    98% {
        left: 160px;
        top: 150px;
        transform: rotate(345deg);
        opacity: 1;
    }

    98.5% {
        left: 170px;
        top: 150px;
        transform: rotate(345deg);
        opacity: 1; 
    }

    99.5% {
        left: 180px;
        top: 150px;
        transform: rotate(345deg);
        opacity: 1; 
    }

    99.99% {
        left: 180px;
        top: 150px;
        transform: rotate(360deg);
        opacity: 1;
    } 

    100% {
        left: 180px;
        top: 150px;
        transform: rotate(0deg);
        opacity: 1;
    } 
 }

 #car {
     animation-name: car-mov;
     animation-duration: 15s;
     animation-delay: 2s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-out;
 }

 @keyframes cat-mov {
     0% {
        opacity: 0;
        left: 775px;
        top: 470px;
        transform: rotate(0deg);
     }

     5% {
        opacity: 0.5;
        left: 750px;
        top: 475px;
        transform: rotate(10deg);
     }

     10% {
        opacity: 1;
        left: 625px;
        top: 470px;
        transform: rotate(0deg);
     }

     15% {
        opacity: 1;
        left: 575px;
        top: 475px;
        transform: rotate(-10deg);
     }

     20% {
        opacity: 1;
        left: 525px;
        top: 470px;
        transform: rotate(0deg);
     }

     25% {
        opacity: 1;
        left: 475px;
        top: 475px;
        transform: rotate(10deg);  
    }
    
    30% {
        opacity: 1;
        left: 425px;
        top: 470px;
        transform: rotate(0deg);   
    }

    35% {
        opacity: 1;
        left: 375px;
        top: 475px;
        transform: rotate(-10deg); 
    }

    40% {
        opacity: 1;
        left: 325px;
        top: 470px;
        transform: rotate(0deg); 
    }

    45% {
        opacity: 1;
        left: 275px;
        top: 475px;
        transform: rotate(10deg); 
    }

    50% {
        opacity: 1;
        left: 225px;
        top: 470px;
        transform: rotate(0deg); 
    }

    55% {
        opacity: 1;
        left: 175px;
        top: 475px;
        transform: rotate(-10deg); 
    }

    60% {
        opacity: 1;
        left: 125px;
        top: 470px;
        transform: rotate(0deg);  
    }

    65% {
        opacity: 1;
        left: 75px;
        top: 475px;
        transform: rotate(10deg);  
    }

    70% {
        opacity: 1;
        left: 25px;
        top: 470px;
        transform: rotate(0deg);  
    }

    75% {
        opacity: 1;
        left: -25px;
        top: 475px;
        transform: rotate(-10deg);
    }

    80% {
        opacity: 1;
        left: -75px;
        top: 470px;
        transform: rotate(0deg);  
    }

    85% {
        opacity: 0.5;
        left: -125px;
        top: 475px;
        transform: rotate(10deg); 
    }

    90% {
        opacity: 0;
        left: -175px;
        top: 470px;
        transform: rotate(0deg);
    }

    95% {
        opacity: 0;
        left: -225px;
        top: 475px;
        transform: rotate(-10deg);  
    }
 }

 #cat {
    animation-name: cat-mov;
    animation-duration: 15s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}